@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Asap;
    font-weight: bold;
}

header {
    background: #191D29;
    color: #C4C6CD;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

div {
    height: 33.33vh;
}

input[type=number] {
    background: #191D29;
    color: green;
    height: 100%;
    width: 100%;
    font-size: 80px;
    text-align: center;
    border-color: #3D3422;
}

::placeholder {
    color: #C4C6CD;
  }